<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Happiest Programmer!</h1>
            </hgroup>
            <p>
                Happiest Programmer ranks the happiest (or grumpiest) programmers using sentiment analysis on
                data from StackOverflow and GitHub.
            </p>
        </div>
    </section>
</div>
