<div ng-controller="HomeCtrl">
    <div class="row">
        <div class=" col-md-4">
            <div class="well">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label" for="rankDate">As-of-Date</label>
                        <input type="text" data-provide="datepicker" class="form-control" ng-model="rankSelection.date" id="rankDate" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="rankDays">Days Rollup</label>
                        <select class="form-control" ng-model="rankSelection.days" id="rankDays">
                            <option>1</option>
                            <option>5</option>
                            <option>15</option>
                            <option>30</option>
                            <option>60</option>
                            <option>90</option>
                            <option>180</option>
                            <option>365</option>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <button type="button" class="btn btn-default" ng-click="updateRankDate()">Update</button>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4>Rankings</h4>
                </a>
                <a href class="list-group-item" ng-repeat="language in languages" repeat-done="layoutDone()" rel="tooltip" title="{{language.Score}}" ng-click="selectLanguage(language.Name)" ng-class="{ 'selected-language': language.Name.toUpperCase() === languageSelected.name.toUpperCase() }">
                    <table class="rankings">
                        <tr>
                            <td class="rank">
                                {{language.Rank}}
                            </td>
                            <td>
                                {{language.Name}}
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Positive Comments</h3>
                </div>
                <div class="panel-body">
                    <div class="well" ng-repeat="comment in positiveComments" repeat-done="layoutDone()">
                        <p ng-bind-html="to_trusted(comment.Text)">
                            {{comment.Text}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Negative Comments</h3>
                </div>
                <div class="panel-body">
                    <div class="well" ng-repeat="comment in negativeComments" repeat-done="layoutDone()">
                        <p ng-bind-html="to_trusted(comment.Text)">
                            {{comment.Text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
