table.rankings
{
    padding-right:5px;
}

td.rank
{
    width: 50px;
    text-align:left;
    font-weight:bold;
}

.selected-language {
    background-color: #f5f5f5;
}

.jumbotron {
    margin-top: 15px;
}

.nowrap {
  white-space: nowrap;
}