table.rankings
{
    padding-right:5px;
}

td.rank
{
    width: 50px;
    text-align:left;
    font-weight:bold;
}

.selected-language {
    background-color: #f5f5f5;
}

.date-selection {
    width: 120px;
}

.date-range-selection {
    width: 120px;
}